<h1><%= @task.name.capitalize %></h1>


<h3>Desription:</h3><br>
    <p style="color: red; font-size:40px;"><%= @task.description %> </p>
    <br>

<h3>Notes:</h3><br>
    <p style="color: red; font-size:20px;"><%= @task.notes %></p>
<br><br>

<form action="/tasks/<%=@task.id%>/edit)">
    <input type="submit" value="Edit">
</form>

<br>

<form action="/tasks/<%=@task.id%>/delete)">
    <input type="submit" value="Delete">
</form>




