
<h1 ><%= @task.name.capitalize %></h1>

<br><br>
<h2 style="text-decoration: underline;">Desription:</h2>
    <p style="color: red; font-size:40px;"><%= @task.description %> </p>
    <br>

<h3 style="text-decoration: underline;">Notes:</h3>
    <p style="color: red; font-size:20px;"><%= @task.notes %></p>
<br><br>

<form action="/tasks/<%=@task.id%>/edit">
    <input type="submit" value="Edit">
</form>

<br>
<form action="/tasks/<%=@task.id%>/completed" method="POST">
    <input type="submit" value="Completed">
</form>

<br><br><br><br><br>

<form action="/tasks/<%=@task.id%>" method="POST">
<input type="hidden" id="hidden" name="_method" value="delete">
    <input type="submit" value="Delete">
</form>
